<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Great Number Game</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container main">
            <h1>Welcome to the Great Numer Game!!!</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <div class="{{ tlvisible }} d-flex flex-column col-6 rounded bg-danger text-warning align-items-center justify-content-center">                
                <h4>Too Low!</h4>
            </div>
            <div class="{{ thvisible }} d-flex flex-column col-6 rounded bg-danger text-warning align-items-center justify-content-center">                
                <h4>Too High!</h4>
            </div>
            <div class="{{ ygvisible }} col-6 form">
                <form class="bg-success text-warning" action="/playa" method="post">                
                    <div class="d-flex flex-column pt-3">
                        <label for="playa" class="col-form-label fs-4">You Guessed it in {{ attempts }} attempts! The number was {{ number }}.</label>
                    </div>
                    <div class="col-auto pb-3">
                        <button type="submit" class="btn btn-primary">Play Again</button>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <form class="rounded bg-dark text-warning" action="/guess" method="post">
                    <div class="col-auto pt-2">
                        <label for="guess" class="col-form-label">Take a guess!!!</label>
                    </div>
                    <div class="col-12 ps-3 pe-3 pb-3">
                        <input type="text" class="form-control" name="guess" id="guess" />
                    </div>
                    <div class="col-auto pb-3">
                        <button type="submit" class="btn btn-warning">Guess</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>